
{% extends "base.html" %}
{% block title %}
    Login
{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
    <!--Login-->
    <div class="container py-5">
        <h1>Log In</h1>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
        <p class="text-center">
            Haven't got an account? <a href="{% url 'account_signup' %}">Create!</a>
        </p>
        <p class="text-center">
            <a href="{% url 'account_reset_password' %}">Forgot Password?</a>
        </p>
    </div>
{% endblock %}
