{% extends 'base.html' %}
{% block title %}
  Task list
{% endblock title %}
{% block content %}
  <div class="container mt-4">
    <h1>Task list</h1>
    {% include 'includes/searchbar.html' %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="50%">
            {% if request.GET.sort == 'title_desc' %}
              <a href="?sort=title_asc" class="text-decoration-none">Target &#9660;</a>
            {% else %}
              <a href="?sort=title_desc" class="text-decoration-none">Target &#9650;</a>
            {% endif %}
          </th>
          <th scope="col">
            {% if request.GET.sort == 'ended_at_desc' %}
              <a href="?sort=ended_at_asc" class="text-decoration-none">Ended at &#9660;</a>
            {% else %}
              <a href="?sort=ended_at_desc" class="text-decoration-none">Ended at &#9650;</a>
            {% endif %}
          </th>
          <th scope="col">
            {% if request.GET.sort == 'status_desc' %}
              <a href="?sort=status_asc" class="text-decoration-none">Status &#9660;</a>
            {% else %}
              <a href="?sort=status_desc" class="text-decoration-none">Status &#9650;</a>
            {% endif %}
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for task in all_tasks_list %}
          <tr>
            <td>{{ task.title }}</td>
            <td>
              {% if task.end_date %}
                {{ task.end_date }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>{{ task.get_status_display }}</td>
            <td>
              <a href="{% url 'task_detail' pk=task.pk %}"
                 class="btn btn-primary btn-sm">View</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No tasks found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'task_new' %}" class="btn btn-success">Create New Task</a>
  </div>
{% endblock %}
