{% extends 'base.html' %}
{% block content %}
  <div class="container mt-4">
    <h1>Task list</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col" width="50%%">Target</th>
          <th scope="col">Ended at</th>
          <th scope="col">Status</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        {% for task in all_tasks_list %}
          <tr>
            <td>{{ task.title }}</td>
            <td>
              {% if task.end_date %}
                {{ task.end_date }}
              {% else %}
                N/A
              {% endif %}
            </td>
            <td>{{ task.get_status_display }}</td>
            <td>
              <a href="{% url 'task_detail' pk=task.pk %}"
                 class="btn btn-primary btn-sm">View</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="4">No tasks found.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="{% url 'task_new' %}" class="btn btn-success">Create New Task</a>
  </div>
{% endblock %}
