{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-4" enctype='multipart/form-data'>
        <h1>Create Task</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {% render_field form.title class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {% render_field form.description class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.end_date.label_tag }}
                {% render_field form.end_date type="datetime-local" class="form-control" min=current_time %}
            </div>
            <div class="form-group">
                {{ form.status.label_tag }}
                {% render_field form.status class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.files.label_tag }}
                {% render_field form.files class="form-control" %}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Create</button>
            <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
{% endblock content %}
