{% extends 'base.html' %}
{% block title %}
  Task detail
{% endblock title %}
{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ object.title }}</h1>
        <p class="lead">{{ object.description }}</p>
        <p>Created at: {{ object.created_at }}</p>
        {% if object.end_date %}<p>End date: {{ object.end_date }}</p>{% endif %}
        <p>Status: {{ object.get_status_display }}</p>
        {% if object.files %}
          <p>
            Files: <a href="{{ object.files.url }}">{{ object.files }}</a>
          </p>
        {% endif %}
        {% if object.assigned_users %}
          <p>
            Added users:
            {% for user in task.assigned_users.all %}{{ user.username }}, {% endfor %}
          </p>
        {% endif %}
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-md-8">
        <a href="{% url 'task_add_users' pk=object.pk %}"
           class="btn btn-primary">Add Users</a>
      </div>
      <div class="col-md-8 mt-2">
        <a href="{% url 'task_edit' pk=object.pk %}" class="btn btn-primary">Update</a>
        <a href="{% url 'task_delete' pk=object.pk %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to List</a>
      </div>
    </div>
  </div>
{% endblock content %}
