{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="container">
        <h1 class="mb-4">Edit task "{{ object.title }}"</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.title.label_tag }}
                {% render_field form.title class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.description.label_tag }}
                {% render_field form.description class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.end_date.label_tag }}
                {% render_field form.end_date type="datetime-local" class="form-control" min=current_time %}
            </div>
            <div class="form-group">
                {{ form.status.label_tag }}
                {% render_field form.status class="form-control" %}
            </div>
            <button type="submit" class="btn btn-primary mt-3">Save</button>
            <a href="{% url 'task_detail' object.pk %}"
               class="btn btn-secondary mt-3">Cancel</a>
        </form>
    </div>
{% endblock %}
