{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Task detail
{% endblock title %}
{% block content %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-8">
        <h1>{{ object.title }}</h1>
        <p class="lead">{{ object.description }}</p>
        <p>
          <b>Created at:</b> {{ object.created_at }}
        </p>
        {% if object.end_date %}
          <p>
            <b>End date:</b> {{ object.end_date }}
          </p>
        {% endif %}
        <p>
          <b>Status:</b> {{ object.get_status_display }}
        </p>
        {% if object.files %}
          <p>
            <b>Files:</b> <a href="{{ object.files.url }}">{{ object.files }}</a>
          </p>
        {% endif %}
        {% if object.assigned_users.all %}
          <p>
            <b>Creator:</b> {{ object.user }}
          </p>
          <p>
            <b>Assigned to</b>: {{ object.assigned_users.all|join:", " }}
          </p>
          {% if object.completed_by.all|length > 0 %}
            <p>
              <b>Completed by</b>: {{ object.completed_by.all|join:", " }}
            </p>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="row mt-4">
      {% if user == object.user %}
        <div class="col-md-8">
          <a href="{% url 'task_add_users' pk=object.pk %}"
             class="btn btn-primary me-2">Add Users</a>
          <a href="{% url 'task_edit' pk=object.pk %}"
             class="btn btn-primary me-2">Update</a>
          <a href="{% url 'task_delete' pk=object.pk %}"
             class="btn btn-danger me-2">Delete</a>
        </div>
      {% endif %}
      <div class="col-md-8 mt-2">
        <a href="{% url 'home' %}" class="btn btn-secondary">Back to List</a>
        {% if user in object.assigned_users.all %}
          <form method="post"
                class="mt-4"
                action="{% url 'task_leave' pk=object.pk %}">
            {% csrf_token %}
            <button class="btn btn-secondary">Leave Task</button>
          </form>
        {% endif %}
      </div>
    </div>
    {% if object.assigned_users.all %}
      {% if user == object.user or user in object.assigned_users.all %}
        <div class="mt-4">
          <form method="post"
                action="{% url 'mark_task_as_completed' pk=object.pk %}">
            {% csrf_token %}
            <input type="hidden"
                   name="completed"
                   value="{% if not object.is_completed %}True{% else %}False{% endif %}">
            {% if not object.is_completed %}
              <button type="submit" class="btn btn-primary mt-2">Mark as completed</button>
            {% else %}
              <button type="submit" class="btn btn-danger mt-2">Mark as uncompleted</button>
            {% endif %}
          </form>
        </div>
      {% endif %}
    {% endif %}
    {% if comments %}
      <h3 class="mt-4">Comments</h3>
      <ul class="list-unstyled">
        {% for comment in comments %}
          <li class="border-bottom pb-2 mb-2">
            <p>{{ comment.text }}</p>
            <p class="text-secondary">Posted by {{ comment.user }} on {{ comment.created_at }}</p>
          </li>
        {% empty %}
          <li>No comments yet.</li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if comment_form %}
      <h3 class="mt-4">Add a comment</h3>
      <form method="post" action="{% url 'task_detail' task.pk %}">
        {% csrf_token %}
        {{ comment_form|crispy }}
        <button type="submit" class="btn btn-primary mt-2">Add comment</button>
      </form>
    {% else %}
      <p class="mt-4">
        Please <a href="{% url 'account_login' %}">log in</a> to add a comment.
      </p>
    {% endif %}
  </div>
{% endblock content %}
